{% extends 'viacadapp/base.html' %}

{% block content %}
	<div class="container" >
      <form method='POST' enctype="multipart/form-data">

		<div class="form-group" align="center"  >
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-default" >Buscar</button>

		</div>
	    <div>
	    	
<html lang="en">

<body>

<div class="container">
  <h2>Profesores</h2>
  <table class="table" width="100%" border="0" cellpadding="0" cellspacing="0">
    <thead>
    	
      <tr>
      	<th align="center">Foto</th>
        <th align="center"><STRONG>Nombre Completo</STRONG></th>
        <th align="center"><STRONG>Descripcion</STRONG></th>
        <th align="center"><STRONG>Correo</STRONG></th>
        <th align="center"><STRONG>Costo Hora</STRONG></th>
        <th align="center"><STRONG>Contactar</STRONG></th>
      </tr>
    </thead>
    <tbody>
      {% for x in listaprofes %}
      <tr class="info">
      	<td> 
      		
      		<img src= "{{MEDIA_URL}}{{x.foto.url}}" width="150" height="150" />
      	</td>
        <td>{{ x.nombrecompleto }}</td>
        <td>{{ x.cualidades }}</td>
        <td align="enter">{{ x.correo }}</td>
        <td align="enter">{{x.costohora}}</td>
        <td align="enter"> <a href="/elegido/"><button type="button" class="btn btn-default" >Elegir</button></a></td>

      </tr>
      {% endfor %}
      
    </tbody>
  </table>

</div>

</body>
</html>



	    </div>
      </form>
     
    </div>



{% endblock %}

